@use "../base/variables" as v;
@use "../utils/mixins" as m;

.dropdown {
  $root: &;
  display: block;
  position: relative;
  z-index: 3;
  white-space: nowrap;
  max-width: 100%;

  @media (width < 1440px) {
    white-space: wrap;
  }

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
  }

  &__item {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4285;
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    background-color: v.$color-blue;
    color: v.$color-white;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        #{$root}__menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @media (width < 1440px) {
      flex-direction: column;
      border-radius: 0;
      background-color: transparent;
      color: v.$color-black;
      align-items: start;
      row-gap: 1.4rem;

      @media (hover: hover) {
        &:hover {
          color: v.$color-blue;
        }
      }
    }
  }

  &__icon {
    flex-shrink: 0;
  }

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    overflow: hidden;

    @media (width < 1440px) {
      position: static;
      opacity: 1;
      visibility: visible;
      display: none;
      border-radius: 0;
    }
  }

  &__menu-item {
    display: block;
    width: 100%;
  }

  &__menu-link {
    @include m.transition(color, background-color);
    display: block;
    padding: 0.8rem 1.6rem;
    background-color: v.$color-blue;
    color: v.$color-white;
    width: 100%;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: v.$color-blue;
        background-color: v.$color-white;
      }
    }

    @media (width < 1440px) {
      background-color: transparent;
      color: v.$color-black;

      @media (hover: hover) {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &--transparent {
    #{$root}__item {
      color: v.$color-black;
      background-color: transparent;

      @media (hover: hover) {
        &:hover {
          background-color: v.$color-blue;
          color: v.$color-white;
        }
      }

      @media (width < 1440px) {
        @media (hover: hover) {
          &:hover {
            background-color: transparent;
            color: v.$color-blue;
          }
        }
      }
    }
  }

  &--open {
    #{$root}__menu {
      display: block;
    }
  }
}
