@use "../base/variables" as v;
@use "../utils/mixins" as m;

.overlay {
  @include m.transition(opacity, visibility);
  position: fixed;
  inset: 0;
  background-color: rgba(v.$color-accent, 0.7);
  backdrop-filter: blur(0.2rem);
  z-index: 4;
  visibility: hidden;
  opacity: 0;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}
