@use "../base/variables" as v;

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: v.$font-family-base;
}

img {
  vertical-align: bottom;
}

.container {
  --container-inline-gap: 6rem;
  max-width: 192rem;
  padding-right: max(env(safe-area-inset-right), var(--container-inline-gap));
  padding-left: max(env(safe-area-inset-left), var(--container-inline-gap));
  margin-inline: auto;

  @media (width < 1024px) {
    --container-inline-gap: 4rem;
  }

  @media (width < 768px) {
    --container-inline-gap: 2rem;
  }

  @media (width < 425px) {
    --container-inline-gap: 1rem;
  }
}

.inner {
  --inner-inline-gap: 6rem;
  max-width: 142rem;
  margin-inline: auto;
  padding-inline: var(--inner-inline-gap);

  @media (width < 768px) {
    --inner-inline-gap: 3rem;
  }

  @media (width < 425px) {
    --inner-inline-gap: 1.5rem;
  }
}

h2 {
  font-size: clamp(3rem, 4vw, 5rem);
  font-weight: 600;
  line-height: 1.2;
}
