//color pallette
$color-purple-100: #e4dfff;
$color-purple-400: #7c60e9;
$color-purple-500: #7c59f2;

$color-blue: #4850ec;
$color-yellow: #ffdf51;
$color-lime: #bef541;
$color-black: #000000;
$color-white: #ffffff;

$color-gray-100: #f7f7f9;
$color-gray-400: #666666;
$color-gray-600: #3f4b5e;
$color-gray-700: #1d1d1f;
$color-gray-800: #111217;
$color-gray-900: #1d1d1d;

$color-accent: $color-purple-500;

//fonts
$font-family-base: "Mulish", sans-serif;
$font-family-secondary: "Inter", sans-serif;

//transitions
$transition-duration: 250ms;
$transition-timing: ease;
